body {font-family: Arial, Verdana, sans-serif;}

h1 {text-align: center;}

button {width: 100px;
	height: 40px;
	background: #DCDCDC;}

form {background-image: url(bg.jpeg);
	margin: auto;
	width: 50%;
	padding: 10px;}

.input {width: 100%;
	height: 30px;}
